#include "keys_ru.h"
#include <dt-bindings/zmk/input_transform.h>
#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    quick-tap-ms = <175>;
    require-prior-idle-ms = <150>;
    flavor = "tap-preferred";
};

&lt {
    quick-tap-ms = <175>;
    require-prior-idle-ms = <150>;
    hold-while-undecided;
};

/ {
    behaviors {
        cap_sen: cap_sen {
            compatible = "zmk,behavior-hold-tap";
            label = "CAP_SEN";
            bindings = <&mo>, <&mkp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            hold-while-undecided;
        };

        mouse_layer: mouse_layer {
            compatible = "zmk,behavior-sticky-key";
            label = "MOUSE_LAYER";
            bindings = <&mo>;
            #binding-cells = <1>;
            release-after-ms = <200>;
        };

        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <41 42 43 30 18 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 43 44 45>;
        };

        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40>;
            hold-trigger-on-release;
        };

        my_mt: my_mt {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
        };

        zip_auto_mouse: zip_auto_mouse {
            compatible = "zmk,input-processor-temp-layer";
            #input-processor-cells = <2>;
            require-prior-idle-ms = <800>;
            excluded-positions = <>;
        };
    };

    combos {
        compatible = "zmk,combos";

        cmben {
            bindings = <&layer_en>;
            key-positions = <3 4>;
            layers = <1>;
        };

        cmbru {
            bindings = <&layer_ru>;
            key-positions = <3 4>;
            layers = <0>;
        };

        kha {
            bindings = <&kp RU_CYRILLIC_HA>;
            key-positions = <7 8>;
            layers = <1>;
        };

        hrd {
            bindings = <&kp RU_CYRILLIC_HARD_SIGN>;
            key-positions = <8 9>;
            layers = <1>;
        };

        caps_word {
            bindings = <&caps_word>;
            key-positions = <24 25>;
            layers = <0 1>;
        };
    };

    macros {
        to_ru: to_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LC(N2))>;
            label = "TO_RU";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        to_en: to_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LC(N1))>;
            label = "TO_EN";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        layer_en: layer_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 0 &to_en>;
            label = "LAYER_EN";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        layer_ru: layer_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 1 &to_ru>;
            label = "LAYER_RU";
            tap-ms = <30>;
            wait-ms = <0>;
        };

        en: en {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&to_en>,
                <&macro_press>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&to_ru>;

            label = "EN";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        ipad_ru: ipad_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 1 &kp CAPSLOCK>;
            label = "IPAD_RU";
        };

        ipad_en: ipad_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 0 &kp CAPSLOCK>;
            label = "IPAD_EN";
        };

        cmdclick: cmdclick {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_GUI &mkp MB1>,
                <&macro_release>,
                <&mkp MB1 &kp LEFT_GUI>;

            label = "CMDCLICK";
        };

        en_1: en_1 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&to_en>,
                <&macro_press>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&to_ru>;

            label = "EN_1";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        layer_en_old: layer_en_old {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 0 &to_en>;
            label = "LAYER_EN_OLD";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        layer_ru_old: layer_ru_old {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 1 &to_ru>;
            label = "LAYER_RU_OLD";
            tap-ms = <30>;
            wait-ms = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        en {
            bindings = <
&my_mt RET TAB  &lt 9 Q              &kp W               &lt 10 E           &lt 11 R         &kp T                                     &kp Y  &my_mt LG(Z) U   &kp I               &kp O             &kp P                    &kp BSPC
&lt 12 ESC      &hml LEFT_CONTROL A  &hml LEFT_ALT S     &hml LEFT_SHIFT D  &hml LEFT_GUI F  &kp G                                     &kp H  &hmr LEFT_GUI J  &hmr RIGHT_SHIFT K  &hmr RIGHT_ALT L  &hmr RIGHT_CONTROL SEMI  &hmr BSLH LC(LA(LS(LEFT_GUI)))
&none           &my_mt LG(TAB) Z     &my_mt LG(GRAVE) X  &my_mt LG(C) C     &my_mt LG(V) V   &kp B                                     &kp N  &kp M            &kp COMMA           &kp DOT           &kp QUESTION             &none
                                     &kp LEFT_CONTROL    &kp LEFT_ALT       &layer_ru        &lt 4 BACKSPACE  &kp SPACE    &kp RETURN  &mo 2  &none            &kp LBKT            &kp SLASH
            >;

            display-name = "base";
        };

        ru {
            display-name = "ru";
            bindings = <
&my_mt RET TAB  &lt 9 RU_CYRILLIC_SHORT_I         &kp RU_CYRILLIC_TSE               &lt 10 RU_CYRILLIC_U            &lt 11 RU_CYRILLIC_KA        &kp RU_CYRILLIC_IE                           &kp RU_CYRILLIC_EN  &my_mt LG(Z) RU_CYRILLIC_GHE  &kp RU_CYRILLIC_SHA              &kp RU_CYRILLIC_SHCHA          &kp RU_CYRILLIC_ZE                  &kp BSPC
&lt 12 ESC      &hml LEFT_CONTROL RU_CYRILLIC_EF  &hml LEFT_ALT RU_CYRILLIC_YERU    &hml LEFT_SHIFT RU_CYRILLIC_VE  &hml LEFT_GUI RU_CYRILLIC_A  &kp RU_CYRILLIC_PE                           &kp RU_CYRILLIC_ER  &hmr LEFT_GUI RU_CYRILLIC_O   &hmr RIGHT_SHIFT RU_CYRILLIC_EL  &hmr RIGHT_ALT RU_CYRILLIC_DE  &hmr RIGHT_CONTROL RU_CYRILLIC_ZHE  &kp BSLH
&none           &my_mt LG(TAB) RU_CYRILLIC_YA     &my_mt LG(GRAVE) RU_CYRILLIC_CHE  &my_mt LG(C) RU_CYRILLIC_ES     &my_mt LG(V) RU_CYRILLIC_EM  &kp RU_CYRILLIC_I                            &kp RU_CYRILLIC_TE  &kp RU_CYRILLIC_SOFT_SIGN     &kp RU_CYRILLIC_BE               &kp RU_CYRILLIC_YU             &kp RU_CYRILLIC_E                   &none
                                                  &kp LEFT_CONTROL                  &kp LEFT_ALT                    &layer_en                    &lt 4 BACKSPACE     &kp SPACE    &kp RETURN  &mo 3               &none                         &kp RU_CYRILLIC_HA               &kp RU_CYRILLIC_HARD_SIGN
            >;
        };

        sym {
            bindings = <
&trans  &kp HASH                 &kp LT              &kp EQUAL              &kp GT              &kp ASTERISK                    &kp CARET  &kp DQT             &kp GRAVE               &kp SQT              &kp LBKT                 &kp RBKT
&trans  &hml LEFT_CONTROL ASTRK  &hml LEFT_ALT LPAR  &hml LEFT_SHIFT MINUS  &hml LEFT_GUI RPAR  &kp PLUS                        &kp PRCNT  &hmr LEFT_GUI LBRC  &hmr RIGHT_SHIFT UNDER  &hmr RIGHT_ALT RBRC  &hmr RIGHT_CONTROL SEMI  &kp BSLH
&trans  &kp COMMA                &kp BSLH            &kp COLON              &kp FSLH            &kp PIPE                        &kp AT     &kp DOLLAR          &kp COMMA               &kp DOT              &kp QMARK                &kp EXCL
                                 &trans              &trans                 &trans              &mo 5         &trans    &trans  &trans     &trans              &kp AMPS                &kp TILDE
            >;

            display-name = "sym";
        };

        sym_ru {
            display-name = "sym_ru";
            bindings = <
&kp RU_NUMERO       &en HASH                       &en LT    &kp EQUAL   &en GT    &en ASTRK                    &en CARET  &kp RU_DQT  &en GRAVE               &kp LS(N2)  &en LBKT                   &en RBKT
&kp RU_CYRILLIC_IO  &hml LEFT_CONTROL KP_MULTIPLY  &kp LPAR  &kp MINUS   &kp RPAR  &kp PLUS                     &kp PRCNT  &en LBRC    &hmr RIGHT_SHIFT UNDER  &en RBRC    &hmr RIGHT_CONTROL LS(N8)  &en BSLH
&trans              &en GRAVE                      &en BSLH  &kp LS(N5)  &en FSLH  &en PIPE                     &en AT     &en DOLLAR  &kp LS(N6)              &kp LS(N7)  &kp LS(FSLH)               &kp EXCL
                                                   &trans    &trans      &trans    &mo 5      &trans    &trans  &trans     &trans      &en AMPS                &en TILDE
            >;
        };

        digits {
            bindings = <
&trans      &kp LS(N1)                  &kp LS(N2)              &kp LS(N3)                &kp LS(N4)              &kp LS(N5)                      &kp LS(N6)  &kp LS(N7)        &kp LA(N8)                 &kp LS(N9)               &kp LS(N0)                   &trans
&kp ESCAPE  &hml LEFT_CONTROL NUMBER_1  &hml LEFT_ALT NUMBER_2  &hml LEFT_SHIFT NUMBER_3  &hml LEFT_GUI NUMBER_4  &kp NUMBER_5                    &kp N6      &hmr LEFT_GUI N7  &hmr RIGHT_SHIFT NUMBER_8  &hmr RIGHT_ALT NUMBER_9  &hmr RIGHT_CONTROL NUMBER_0  &trans
&trans      &layer_en                   &kp LG(X)               &kp LG(C)                 &kp LG(V)               &kp DEL                         &kp CLCK    &kp LC(LEFT)      &kp PAGE_DOWN              &kp PAGE_UP              &layer_ru                    &trans
                                        &trans                  &trans                    &trans                  &trans        &trans    &trans  &mo 5       &trans            &trans                     &trans
            >;

            display-name = "nav";
        };

        adj {
            bindings = <
&bootloader  &none  &kp F1  &kp F2   &kp F3   &kp F4                   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2      &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR
&none        &none  &kp F5  &kp F6   &kp F7   &kp F8                   &out OUT_BLE  &kp C_VOL_DN  &kp C_MUTE        &kp C_VOL_UP  &none         &studio_unlock
&none        &none  &kp F9  &kp F10  &kp F11  &kp F12                  &out OUT_USB  &kp C_PREV    &kp C_PLAY_PAUSE  &kp C_NEXT    &none         &none
                    &none   &none    &none    &none    &none    &none  &none         &none         &none             &none
            >;

            display-name = "Adjust";
        };

        mouse {
            bindings = <
&trans  &trans  &trans    &trans    &cmdclick  &trans                    &trans  &trans    &trans    &trans    &trans  &trans
&trans  &mo 7   &mkp MB3  &mkp MB2  &mkp MB1   &mo 8                     &mo 8   &mkp MB1  &mkp MB2  &mkp MB3  &mo 7   &trans
&trans  &trans  &trans    &trans    &trans     &trans                    &trans  &trans    &trans    &trans    &trans  &trans
                &trans    &trans    &trans     &trans  &trans    &trans  &trans  &trans    &trans    &trans
            >;

            display-name = "Mouse";
        };

        scroll {
            bindings = <
&trans  &trans  &trans    &trans    &trans    &trans                    &trans  &trans    &trans    &trans    &trans  &trans
&trans  &trans  &mkp MB3  &mkp MB2  &mkp MB1  &trans                    &trans  &mkp MB1  &mkp MB2  &mkp MB3  &trans  &trans
&trans  &trans  &trans    &trans    &trans    &trans                    &trans  &trans    &trans    &trans    &trans  &trans
                &trans    &trans    &trans    &trans  &trans    &trans  &trans  &trans    &trans    &trans
            >;

            display-name = "Scroll";
        };

        sniper {
            bindings = <
&trans  &trans  &trans    &trans    &trans    &trans                    &trans  &trans    &trans    &trans    &trans  &trans
&trans  &trans  &mkp MB3  &mkp MB2  &mkp MB1  &trans                    &trans  &mkp MB1  &mkp MB2  &mkp MB3  &trans  &trans
&trans  &trans  &trans    &trans    &trans    &trans                    &trans  &trans    &trans    &trans    &trans  &trans
                &trans    &trans    &trans    &trans  &trans    &trans  &trans  &trans    &trans    &trans
            >;

            display-name = "Sniper";
        };

        mail {
            bindings = <
&trans  &trans  &trans  &trans  &trans      &trans                           &kp LG(N6)      &kp LG(N1)      &kp LG(NUMBER_2)      &kp LG(NUMBER_3)      &kp LG(NUMBER_4)      &kp LG(N5)
&trans  &trans  &trans  &trans  &trans      &trans                           &kp LC(LG(N6))  &kp LC(LG(N1))  &kp LC(LG(NUMBER_2))  &kp LC(LG(NUMBER_3))  &kp LC(LG(NUMBER_4))  &kp LC(LG(NUMBER_5))
&trans  &trans  &trans  &trans  &trans      &trans                           &kp LG(R)       &kp LS(LG(R))   &kp LS(LG(F))         &kp LA(LG(F))         &kp LS(LG(A))         &trans
                &trans  &trans  &kp LG(N8)  &trans  &trans    &kp LS(LG(D))  &trans          &trans          &trans                &trans
            >;

            label = "mail";
        };

        things {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                           &kp LG(N1)         &kp LG(NUMBER_2)  &kp LG(NUMBER_4)  &kp LG(NUMBER_5)  &kp LS(LG(F))  &trans
&trans  &trans  &trans  &trans  &trans  &trans                           &kp LS(LG(P))      &kp LS(LG(M))     &kp LG(R)         &kp LG(O)         &kp LS(LG(D))  &trans
&trans  &trans  &trans  &trans  &trans  &trans                           &kp LG(LA(LC(N)))  &kp LS(LG(N))     &kp LS(LG(C))     &kp LS(LG(O))     &trans         &trans
                &trans  &trans  &trans  &trans  &trans    &kp LS(LG(T))  &trans             &trans            &trans            &trans
            >;

            label = "things";
        };

        obsidian {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &kp LS(LG(M))      &trans                    &trans            &trans                  &trans                   &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &kp LC(LG(EQUAL))  &kp LS(LG(LEFT_BRACKET))  &kp LS(LG(RBKT))  &kp LA(LG(LEFT_ARROW))  &kp LG(LA(RIGHT_ARROW))  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans             &trans                    &trans            &trans                  &trans                   &trans
                &trans  &trans  &trans  &trans  &trans    &trans  &trans             &trans                    &trans            &trans
            >;

            label = "obsidian";
        };

        nav {
            display-name = "nav";
            bindings = <
&trans  &kp N1                    &kp LA(LC(LG(LS(W))))  &kp N3          &kp N4                              &kp N5                     &kp LS(LA(LEFT_ARROW))  &kp LS(LA(DOWN_ARROW))    &kp LS(LA(UP))             &kp LS(LA(RIGHT_ARROW))     &kp N0             &trans
&trans  &hml LEFT_CONTROL ESCAPE  &kp LEFT_ALT           &kp LEFT_SHIFT  &hml LEFT_GUI LG(LC(LS(NUMBER_4)))  &kp RET                    &kp LEFT_ARROW          &hmr LEFT_GUI DOWN_ARROW  &hmr RIGHT_SHIFT UP_ARROW  &hmr RIGHT_ALT RIGHT_ARROW  &kp RIGHT_CONTROL  &trans
&trans  &layer_en                 &kp LG(X)              &kp LG(C)       &kp LG(V)                           &kp DEL                    &kp LA(LEFT_ARROW)      &kp LA(DOWN_ARROW)        &kp LA(UP_ARROW)           &kp RA(RIGHT_ARROW)         &layer_ru          &trans
                                  &trans                 &trans          &trans                              &trans   &trans    &trans  &mo 5                   &trans                    &trans                     &trans
            >;
        };
    };
};

&trackball { cpi = <1000>; };

&trackball_listener {
    input-processors = <&zip_auto_mouse 6 500>, <&zip_xy_scaler 9 20>;

    scroller {
        layers = <7>;
        input-processors =
            <&zip_xy_transform INPUT_TRANSFORM_Y_INVERT>,
            <&zip_xy_scaler 1 32>,
            <&zip_xy_to_scroll_mapper>;
    };

    sniper {
        layers = <8>;
        input-processors = <&zip_xy_scaler 1 4>;
    };
};
